<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <article>
    <h1><%= todo.title %></h1>
    <p><%= todo.text %></p>
  </article>
</body>
</html>